<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Having trouble making your college weekly schedule? This personalized portal is designed for students to create their best-fitting schedule, calculate their tuition, submit a petition and more!">
    <meta name="author" content="Wafic Lawand and Salwa Al Khatib">
    <meta name="keywords" content="Beirut Arab University, BAU, students, schedule maker, petition submission, tuition calculator">
    <link rel='icon' href='/assets/no_name1.ico' type='image/x-icon' height:17px/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>BAU iTools</title>
    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navbarPet">
      <img width="55" height ="55" id="navlogo" src="/assets/no_name1.png">
      <a class="navbar-brand" href="/secret">BAU iTools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/secret">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="mailto:hr@bauitools.com">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/scheduleMaker">Schedule Maker</a>
              <a class="dropdown-item" href="/tuitionCalculator">Tuition Calculator</a>
              <a class="dropdown-item" href="/petitions">Petition Submission</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <%if (loginStatus) {%>
              
              <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="#"><%= user %> <span class="sr-only">(current)</span></a>
                </li>
                
              <% } else { %>

          <li class="nav-item active">
            <a class="nav-link" href="/register">Sign Up <span class="sr-only">(current)</span><i class="fa fa-user-plus"></i></a>
          </li>
          <li class="nav-item active">
            
            <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span><i class="fa fa-user"></i></a>
          </li>
          <% }%>
          
        </ul>
      </div>
    </nav>
  

  


<% var flag =false;%>
<% for (var x =0; x < petitionSigning.length; x++ ) { %>
    <%if ((petitionSigning[x].userId == userId) && (petitionSigning[x].petitionId == petitionDetails.id)){%>
   <%flag = true; %>
    <%}%>
    <%}%>


    <!-- Navigation -->
  
      
          <!-- Page Content -->
          <div id="show">
          <div class="container">
      
            <div class="row">
      
              <!-- Post Content Column -->
              <div class="col-lg-8">
      
                <!-- Title -->
                <h1 class="mt-4"><%=petitionDetails.title%></h1>
      
                <!-- Author -->
                <p class="lead">
                  by
                  <a href="#"><%=petitionDetails.author%></a>
                </p>
      
                <hr>
      
                <!-- Date/Time -->
                <p>Posted on January 1, 2018 at 12:00 PM</p>
      
                <hr>
      
                <!-- Preview Image -->
                <img class="img-fluid rounded" src=<%=petitionDetails.imageUrl%> alt="">
      
                <hr>
      
                <!-- Post Content -->
                <p class="lead"><%=petitionDetails.request%><p>
      
      
              </div>
      
              <!-- Sidebar Widgets Column -->
              <div class="col-md-4">
      
                <!-- Search Widget -->
                <div class="card my-4">
                  <h5 class="card-header">This petition is raised to</h5>
                  <div class="card-body">
                    <div class="input-group">
                      <%=petitionDetails.raisePetitionTo%>
       
                      </span>
                    </div>
                  </div>
                </div>
      
                <!-- Categories Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Categories</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                          <li>
                            <a href="#">Petitions</a>
                          </li>
                          <li>
                            <a href="#">BAU</a>
                          </li>
                          <li>
                            <a href="#">Food</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                          <li>
                            <a href="#">Parking</a>
                          </li>
                          <li>
                            <a href="#">Libraries</a>
                          </li>
                          <li>
                            <a href="#">Tutorials</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- Side Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Signature Goal</h5>
                  <div class="card-body">
                        <div class="progress" style="width:100%">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;text-align: center">75/100</div>
                              </div>
                      </div>
                  </div>

                  <div class="card my-4">
                        <h5 class="card-header">Sign Petition!</h5>
                        <div class="card-body">
                          Be part of the change and help this petition reach its signature goal! <br><br>
                          <%if(!flag) {%>
                            <form action="/petitionSigned/:<%=petitionDetails.id%>" method="POST">
                                <a href="#" onclick="$(this).closest('form').submit()"><button type="button" class="btn btn-outline-primary">Sign Petition</button></a>
                            </form> 
                            <%} else {%>
                            
                                <button type="button" class="btn btn-primary btn-primary signed" style="margin-left:70px;">Petition Signed</button>
                     
                                <%}%>
                           

                        </div>
                      </div>
                </div>

             
      
              </div>
      
            </div>
  
      
          </div>
          
        </div>

    
        
    <footer id="footer">
            <div><h3>BAU iTools</h3>
            <a href="/pdfs/CV.pdf">About</a><br>
            <a href="mailto:hr@bauitools.com">Contact Us</a></div>
        
            <div><h3>Legal</h3>
            <a href="/pdfs/Terms of Service.pdf" download>Terms of Service</a></div>
            </footer>
            <canvas class="background"></canvas>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="/scripts/bootstrap.min.js"></script>
            
            <script src="/scripts/bootbox.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/scripts/bootbox.min.js"></script>
        <script src="/scripts/petitions.js"></script>
        <script src="/scripts/particles.js"></script>
          </body>
          <style>
   

 .background {
  
   position:  absolute;
   display:  block;
   top: 0;
   left: 0;
   z-index: 0;
 }

 #footer, footer a
 {
   background: rgb(64,53,111);
   color: white;
 }
 .navbar-dark .navbar-brand, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .active>.nav-link, .nav-item.nav-link, .nav-link.disabled, .navbar-dark .navbar-nav .nav-link{
   color:white !important;
 }

 
          </style>
        </html>
    